## 2025-04-10

### 파이썬 기본 문법

#### 시작하기

In [3]:
print('Hello Python')

Hello Python

In [ ]:
Hello Python
안녕 파이썬

In [5]:
print('Hello Python')
print('안녕 파이썬')

Hello Python
안녕 파이썬

In [7]:
'Hello Python'

'Hello Python'

In [8]:
'Hello Python'
'안녕 파이썬'

'안녕 파이썬'

In [14]:
Hello

NameError: name 'Hello' is not defined

In [15]:
10

10

In [11]:
print(10 + 10)

20

In [12]:
print('10')

10

In [13]:
print('10 + 10')

10 + 10

In [16]:
type('Hello Python')

str

In [17]:
type('100')

str

In [18]:
type(10)

int

In [19]:
type(3.14)

float

In [20]:
type(True)

bool

#### 변수

In [21]:
mynumber = 10

In [23]:
mynumber

10

In [24]:
type(mynumber)

int

#### 산술연산자

In [26]:
num1 = 3
num2 = 4

In [ ]:
# 합, 차, 곱, 나눗셈의 결과를 출력해주세요
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

7
-1
12
0.75

In [28]:
print(num1%num2)
print(num1//num2)
print(num1**num2)

3
0
81

#### 비교연산자

In [29]:
print(5 == 2)

False

In [30]:
print(5 != 2)

True

In [31]:
print(5 < 2)

False

#### 논리연산자

In [32]:
print(3<5)

True

In [33]:
print(3>0)

True

In [34]:
(3<5) and (3>0)

True

In [ ]:
(4 < 7) or ( 5 > 8)

In [35]:
mynumber = 10

In [37]:
mynumber = mynumber + 1
mynumber

11

In [38]:
mynumber += 1
mynumber

12

In [41]:
mynumber -= 1
mynumber

13

In [42]:
mynumber -= 1
mynumber

12

#### 문자열

In [43]:
"Hello"

'Hello'

In [44]:
'Hello'

'Hello'

In [47]:
print('그녀가 "고마워"라고 말했다.')

그녀가 "고마워"라고 말했다.

In [58]:
print("그가 \"배고파\"라고 생각했다.")

그가 "배고파"라고 생각했다.

In [57]:
print("""Life is too short, 
You need Python""")

Life is too short,
You need Python

In [55]:
print('''Life is too short, 
You need Python''')

Life is too short,
You need Python

In [51]:
# Life is too short, You need Python

In [62]:
a = 'Hello'
b = 3

In [63]:
a + b

TypeError: can only concatenate str (not "int") to str

In [61]:
a - b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [64]:
a = 'Hello'
b = 3

In [65]:
a * b

'HelloHelloHello'

In [ ]:
------------------------------------------------

In [66]:
print('-'* 30)

------------------------------

In [67]:
a = 'Hello'
b = '3'

In [68]:
a * b

TypeError: can't multiply sequence by non-int of type 'str'

In [70]:
print('Hello Python')
 print('홍길동', '나이 = ', 20, "입니다")

IndentationError: unexpected indent (3001810403.py, line 2)

In [71]:
 print('홍길동', '나이 = ', 20, "입니다")

홍길동 나이 =  20 입니다

In [72]:
'Hello '

'Hello '

In [73]:
mystring = "Life is too short, You need Python!"

In [78]:
mystring[8], mystring[9], mystring[10]

('t', 'o', 'o')

In [81]:
mystring[8:18:2]

'tosot'

In [77]:
mystring[-7]

'P'

#### 사용자입력함수

In [83]:
print('내가 출력하고 싶은 내용')

내가 출력하고 싶은 내용

In [88]:
name = input('이름을 입력하세요: ')
print(name, '님 안녕하세요!')

 님 안녕하세요!

In [ ]:
# 사용자로부터 두개의 정수를 입력받아서
# 합, 차, 곱, 나눗셈 연산의 결과를 출력하고 싶어요

In [91]:
num1 = input('첫번째 숫자를 입력하세요: ')
print(type(num1))
num1 = int(num1)
print(type(num1))

<class 'str'>
<class 'int'>

In [92]:
num1 = int(input('첫번째 숫자를 입력하세요: '))
num2 = int(input('두번째 숫자를 입력하세요: '))

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

10
4
21
2.3333333333333335

In [97]:
print('Hello Python', end=' ')
print('Hello Python')

Hello Python Hello Python

In [98]:
print('Hello Python', 'Nice to meet you', sep='::')

Hello Python::Nice to meet you

#### 조건문

In [ ]:
if 조건:
    수행할문장

In [ ]:
money = False

if money:
    print('택시타고 귀가')
    print('밥도 먹고 ')

print('if문 종료')

IndentationError: expected an indented block after 'if' statement on line 3 (3913617826.py, line 4)

In [111]:
# 입력된 수가 홀수이면 '홀수입니다'를 출력하는 프로그램을 만들어주세요. 
# 짝수일때는 아무것도 출력 안됨 
# if문, 산술연산자(%)

num = int(input('숫자를 입력하세요: '))

if num%2:
    print('홀수')
else:
    print('짝수')

짝수

In [106]:
num = 3
num%2

1

In [107]:
bool(num%2)

True

In [114]:
num = 4 # 나누어 떨어지는지.... 1이 남는지.... 2가 남는지... 

if num%3 == 0:
    print('3으로 나누어 떨어져  ')
elif num%3 == 1:
    print('3으로 나누었을때 1이 남아 ')
else:
    print('3으로 나누었을때 2가 남아 ')

3으로 나누었을때 1이 남아

In [115]:
if num%3 == 0:
    print('3으로 나누어 떨어져  ')
if num%3 == 1:
    print('3으로 나누었을때 1이 남아 ')
if num%3 == 2:
    print('3으로 나누었을때 2가 남아 ')

3으로 나누었을때 1이 남아

#### 반복문

In [ ]:
while 조건:
    print('참이야~ ')

In [117]:
i = 1
while i <= 5:
    print(i, '참이야~ ')
    i = i+1

1 참이야~
2 참이야~
3 참이야~
4 참이야~
5 참이야~

In [ ]:
# 1부터 99까지 홀수값만 출력 
i = 1
while i <= 99:
    if i%2:
        print(i, end=" ")
    i += 1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [120]:
prompt = """
1. Add
2. Del
3. List 
4. Quit

Enter number: """

In [121]:
number = 0

while number !=4:
    print(prompt)
    number = int(input('원하는 메뉴의 번호를 입력하세요: '))

1. Add
2. Del
3. List
4. Quit

Enter number:

1. Add
2. Del
3. List
4. Quit

Enter number:

1. Add
2. Del
3. List
4. Quit

Enter number:

In [ ]:
n = 1000

# 1
# 1 + 2
# 1 + 2 + 3

i = 1
hap = 0
gob = 1

while i <= n:
    #print(i, '참이야~ ')
    hap = hap + i
    #print(i, hap)
    #gob *=i
    i = i+1

print(hap)
print(gob)

500500